@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
html,
body {
  min-height: 100%;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #1672b3;
  font-weight: lighter;
  background: url('../images/bg.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.logo {
  background-image: url('../images/logo.svg');
  width: 200px;
  height: 100px;
  margin: 25px auto 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.container-fluid {
  padding: 25px;
}
.handbid-form {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.handbid-form ::-webkit-input-placeholder {
  color: #000000;
}
.handbid-form :-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}
.handbid-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}
.handbid-form :-ms-input-placeholder {
  color: #000000;
}
.handbid-form input:-webkit-autofill,
.handbid-form input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #4cb0ce inset;
  -webkit-text-fill-color: #fff;
}
.handbid-form input:focus::-webkit-input-placeholder,
.handbid-form input:hover::-webkit-input-placeholder {
  color: #000000;
}
.handbid-form input:focus:-moz-placeholder,
.handbid-form input:hover:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}
.handbid-form input:focus::-moz-placeholder,
.handbid-form input:hover::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}
.handbid-form input:focus:-ms-input-placeholder,
.handbid-form input:hover:-ms-input-placeholder {
  color: #000000;
}
.handbid-form h2 {
  text-align: center;
  padding: 10px 0 0;
  margin: 0;
  font-weight: 200;
}
.handbid-form p {
  font-size: 13px;
  padding: 20px 0 0;
  text-align: center;
  margin: 0;
}
.handbid-form label {
  color: #6e828a;
}
.handbid-form form {
  padding: 25px;
}
.handbid-form input {
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
  box-shadow: none;
  padding: 0 15px 0;
  font-size: 14px;
}
.handbid-form select {
  margin-top: 10px;
}
.handbid-form input:hover,
.handbid-form input:focus {
  opacity: 1;
  border-bottom: 1px solid #4cb0ce;
}
.handbid-form .form-control:focus {
  box-shadow: none;
  -moz-box-shadow: none;
}
.handbid-form .btn,
.handbid-form .btn:hover {
  background: #9fb94a;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  border-radius: 0px;
  background-image: none;
  box-shadow: none;
  font-weight: 400;
  border: 1px solid #9fb94a;
  color: #fff;
  margin-top: 10px;
}
.handbid-form .btn-connect,
.handbid-form .btn-connect:hover {
  border-color: #3b5998;
  background: #3b5998 url('../images/fb-logo.svg') 10px center;
  line-height: 2px;
  background-size: 10px;
  background-repeat: no-repeat;
  padding: 15px 15px 15px 35px;
  width: auto;
}
.btn-manager,
.btn-manager:hover {
  float: right;
  margin-right: 25px;
  background: #9fb94a;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  border-radius: 0px;
  background-image: none;
  box-shadow: none;
  font-weight: 400;
  border: 1px solid #9fb94a;
  color: #fff;
  margin-top: 10px;
}
.fb-connect {
  height: 22px;
  margin-top: 16px;
  display: block;
  float: right;
}
.col-xs-12 {
  margin-bottom: 25px;
}
.no-back {
  position: absolute;
  background-image: url('../images/logo.svg');
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top center;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -150px;
}
.invalid-request {
  color: #fff;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
}
.alert {
  padding: 15px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  color: #000;
  -moz-animation: hideElement 1s ease-in-out 5s forwards;
  -webkit-animation: hideElement 1s ease-in-out 5s forwards;
  -o-animation: hideElement 1s ease-in-out 5s forwards;
  animation: hideElement 1s ease-in-out 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes hideElement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    top: -50px;
  }
}
@-webkit-keyframes hideElement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    top: -50px;
  }
}
/**
 * Errors
 */
body.site-down {
  overflow: hidden;
}
.firebird-error {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: white url('../images/error.png') center bottom no-repeat;
}
@media (max-width: 900px) {
  .fb-connect {
    clear: both;
    display: block;
    float: left;
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  .btn {
    display: block;
    clear: both;
  }
}
