<a href="http://handbid.com"><div class="animated fadeInDown logo"></div></a>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 animated fadeInLeft signup-form">
            <%- signupForm %>
        </div>
        <div class="col-xs-12 col-sm-6 animated fadeInRight login-form">
            <%- loginForm %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-info btn-manager" href="http://handbid.com/manager/dashboard">Manager Login</a>
        </div>
    </div>
</div>
