body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-family: 'Oxygen', sans-serif;
  background: #1672b3;
}
.logo {
  background-image: url('../images/logo.svg');
  width: 200px;
  height: 100px;
  margin: 25px auto 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.container-fluid {
  padding: 25px;
}
.handbid-form {
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.handbid-form h2 {
  text-align: center;
  color: #1672b3;
  padding: 35px 0 0;
  margin: 0;
}
.handbid-form p {
  color: #6e828a;
  font-size: 13px;
  padding: 20px 0 0;
  text-align: center;
  margin: 0;
}
.handbid-form label {
  color: #6e828a;
}
.handbid-form form {
  padding: 25px;
}
.handbid-form input {
  background-color: #e7e9eb;
  color: #808c9e;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
  padding: 0 15px 0;
  font-size: 13px;
}
.handbid-form .form-control:focus {
  box-shadow: none;
  -moz-box-shadow: none;
}
.handbid-form button,
.handbid-form button:hover {
  background: #1672b3;
}
.fb-connect {
  background: url('../images/login-with-facebook.png');
  width: 154px;
  height: 22px;
  margin-top: 10px;
  display: block;
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
}
.col-xs-12 {
  margin-bottom: 25px;
}
.no-back {
  position: absolute;
  background-image: url('../images/logo.svg');
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top center;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -150px;
}
.invalid-request {
  color: #fff;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
}
.alert {
  padding: 15px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -moz-animation: hideElement 1s ease-in-out 5s forwards;
  -webkit-animation: hideElement 1s ease-in-out 5s forwards;
  -o-animation: hideElement 1s ease-in-out 5s forwards;
  animation: hideElement 1s ease-in-out 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes hideElement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    top: -50px;
  }
}
@-webkit-keyframes hideElement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    top: -50px;
  }
}
