body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-family: 'Oxygen', sans-serif;
  background: #1672b3;
}
.logo {
  background-image: url('../images/logo.svg');
  width: 200px;
  height: 100px;
  margin: 25px auto 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.container-fluid {
  padding: 25px;
}
.handbid-form {
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.handbid-form h2 {
  text-align: center;
  color: #1672b3;
  padding: 35px 0 0;
  margin: 0;
}
.handbid-form p {
  color: #6e828a;
  font-size: 13px;
  padding: 20px 0 0;
  text-align: center;
  margin: 0;
}
.handbid-form label {
  color: #6e828a;
}
.handbid-form form {
  padding: 25px;
}
.handbid-form input {
  background-color: #e7e9eb;
  color: #808c9e;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
  padding: 0 15px 0;
  font-size: 13px;
}
.handbid-form .form-control:focus {
  box-shadow: none;
  -moz-box-shadow: none;
}
.handbid-form button,
.handbid-form button:hover {
  background: #1672b3;
}
