<div class="form-group <%= className %>">

    <a href="https://handbid.com/terms-of-service/" class="terms link" target="_blank"><label for="<%= name %>" class="property-label">Agree to <span class="underline">Terms and Services</span></label></a>
    <input type="checkbox" class="form-control" name="<%= name %>" value="<%= value %>">

</div>