<div class="form-group <%= className %>">

    <label class="property-label"><%= options.label %>
        <input  <%- attributes %> type="checkbox" <% if(value) { %>checked="checked"<% } %> class="form-control" value="1" name="<%= name %>">
    </label>

</div>