// Handbid Setup
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

// Primary
@lightBlue: rgba(76, 176, 206, 1);
@darkBlue: rgba(22, 114, 179, 1);
@gray: rgba(110, 130, 138, 1);

// highlight
@orange: rgba(247, 142, 30, 1);
@green: rgba(159, 185, 74, 1);
@pink: rgba(23, 77, 112, 1);

html, body {
    min-height: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background: @darkBlue;
    font-weight: lighter;
    background: url('../images/bg.jpg') no-repeat center center scroll;
    //    background: url('https://app.useoctobox.com/img/landing/bg.jpg') no-repeat center center scroll;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.logo {
    background-image: url('../images/logo.svg');
    width: 200px;
    height: 100px;
    margin: 25px auto 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container-fluid {
    padding: 25px;
}

.handbid-form {
    border-radius: 5px;
    -webkit-border-radius: 5px;

    @placeHolder: rgba(0, 0, 0, 1);
    @placeHolderFocus: rgba(0, 0, 0, 1);

    ::-webkit-input-placeholder {
        color: @placeHolder;

    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: @placeHolder;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: @placeHolder;
    }

    :-ms-input-placeholder {
        color: @placeHolder;
    }

    input:-webkit-autofill,
    input:focus:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px @lightBlue inset;
        -webkit-text-fill-color: #fff;
    }

    input:focus::-webkit-input-placeholder,
    input:hover::-webkit-input-placeholder {
        color: @placeHolderFocus;

    }

    input:focus:-moz-placeholder, /* Firefox 18- */
    input:hover:-moz-placeholder {
        /* Firefox 18- */
        color: @placeHolderFocus;
    }

    input:focus::-moz-placeholder, /* Firefox 19+ */
    input:hover::-moz-placeholder {
        /* Firefox 19+ */
        color: @placeHolderFocus;
    }

    input:focus:-ms-input-placeholder,
    input:hover:-ms-input-placeholder {
        color: @placeHolderFocus;
    }

    h2 {
        text-align: center;
        padding: 10px 0 0;
        margin: 0;
        font-weight: 200;
    }
    p {
        font-size: 13px;
        padding: 20px 0 0;
        text-align: center;
        margin: 0;
    }
    label {
        color: @gray;
    }
    form {
        padding: 25px;
    }
    input {
        color: #000;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 0px;
        border-radius: 0px;
        height: 40px;
        box-shadow: none;
        padding: 0 15px 0;
        font-size: 14px;
    }
    select {
        margin-top: 10px;
    }

    input:hover, input:focus {
        opacity: 1;
        border-bottom: 1px solid @lightBlue;
    }

    .form-control:focus {
        box-shadow: none;
        -moz-box-shadow: none;
    }
    .btn,
    .btn:hover {
        background: @green;
        padding-left: 50px;
        padding-right: 50px;
        text-transform: uppercase;
        border-radius: 0px;
        background-image: none;
        box-shadow: none;
        font-weight: 400;
        border: 1px solid @green;
        color: #fff;
        margin-top: 10px;
    }

    .btn-connect,
    .btn-connect:hover {
        @fb: #3b5998;
        border-color: @fb;
        background: @fb url('../images/fb-logo.svg') 10px center;
        line-height: 2px;
        background-size: 10px;
        background-repeat: no-repeat;
        padding: 15px 15px 15px 35px;
        width: auto;
    }
}

.btn-manager,
.btn-manager:hover {
    float: right;
    margin-right: 25px;
    background: @green;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    border-radius: 0px;
    background-image: none;
    box-shadow: none;
    font-weight: 400;
    border: 1px solid @green;
    color: #fff;
    margin-top: 10px;
}

.fb-connect {
    height: 22px;
    margin-top: 16px;
    display: block;
    float: right;
}

.col-xs-12 {
    margin-bottom: 25px;
}

.no-back {
    position: absolute;
    background-image: url('../images/logo.svg');
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: top center;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -150px;
}

.invalid-request {
    color: #fff;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
}

.alert {
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    color: #000;
    -moz-animation: hideElement 1s ease-in-out 5s forwards;
    -webkit-animation: hideElement 1s ease-in-out 5s forwards;
    -o-animation: hideElement 1s ease-in-out 5s forwards;
    animation: hideElement 1s ease-in-out 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hideElement {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        top: -50px;
    }
}

@-webkit-keyframes hideElement {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        top: -50px;
    }
}

/**
 * Errors
 */
body.site-down {
    overflow: hidden;
}

.firebird-error {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: white url('../images/error.png') center bottom no-repeat;
}

@media (max-width: 900px) {
    .fb-connect {
        clear: both;
        display: block;
        float: left;
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .btn {
        display: block;
        clear: both;
    }
}