// Handbid Setup

// Primary
@lightBlue: rgba(76, 176, 206, 1);
@darkBlue:  rgba(22, 114, 179, 1);
@gray:      rgba(110, 130, 138, 1);

// highlight
@orange: rgba(247, 142, 30, 1);
@green:  rgba(159, 185, 74, 1);
@pink:   rgba(23, 77, 112, 1);

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    background: @darkBlue;
}

.logo {
    background-image: url('../images/logo.svg');
    width: 200px;
    height: 100px;

    margin: 25px auto 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container-fluid {
    padding: 25px;
}

.handbid-form {
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    h2 {
        text-align: center;
        color: @darkBlue;
        padding: 35px 0 0;
        margin: 0;
    }
    p {
        color: @gray;
        font-size: 13px;
        padding: 20px 0 0;
        text-align: center;
        margin: 0;
    }
    label {
        color: @gray;
    }
    form {
        padding: 25px;
    }
    input {
        background-color: #e7e9eb;
        color: #808c9e;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        height: 40px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
        padding: 0 15px 0;
        font-size: 13px;
    }
    .form-control:focus {
        box-shadow: none;
        -moz-box-shadow: none;
    }
    button,
    button:hover {
        background: @darkBlue;
    }
}

.col-xs-12 {
    margin-bottom: 25px;
}
